.form-toggle {
    @apply h-8 w-12 inline-block relative;
}

.form-toggle input {
    @apply opacity-0 w-0 h-0;
}

.form-toggle .slider {
    @apply border border-transparent bg-gray-300 shadow-inner cursor-pointer absolute inset-0 ring-0 ring-blue-500 ring-opacity-0;

    transition: all .15s ease-out, box-shadow .2s ease-in-out;

    &:before {
        content: "";
        left: .25rem;
        top: 50%;
        transition: all .15s ease-out;

        @apply w-6 h-6 bg-white shadow absolute -mt-3;
    }
}

@media (prefers-color-scheme: dark) {
    .form-toggle .slider {
        @apply bg-gray-900;
    }
}

.form-toggle {
    input:checked + .slider {
        @apply bg-blue-500;
    }

    input:focus + .slider {
        @apply border-blue-500 ring ring-blue-500 ring-opacity-50;
    }

    input:checked + .slider:before {
        left: 100%;
        margin-left: -1.75rem; /* w-6 + mr-1 */
    }

    input:disabled, &[readonly] {
        + .slider {
            @apply cursor-not-allowed;
        }

        + .slider:before {
            @apply bg-gray-100;
        }

        &:focus + .slider {
            @apply ring ring-gray-300 ring-opacity-50;
        }
    }
}

.form-toggle .slider.round {
    @apply rounded-full;

    &:before {
        @apply rounded-full;
    }
}
